name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  coq-tests:
    name: Coq integration tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        coq_version: ['8.4', '8.5', '8.6', '8.7', '8.8', '8.9', '8.10', '8.11', '8.12', '8.13', '8.14', '8.15', 'master']
        py_version: [3.6]
    steps:
      - uses: actions/checkout@v2
      - name: Install Nix
        uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
      - name: Install Cachix
        uses: cachix/cachix-action@v10
        with:
          name: coq
          skipPush: true
      - name: Install Coq ${{ matrix.coq_version }}
        run: nix-env -j auto --cores 0 -i -f ci/coq.nix --argstr version ${{ matrix.coq_version }}
      - name: Install Python ${{ matrix.py_version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.py_version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run Coq tests
        if: matrix.py_version == '3.6'
        run: |
          coqtop --version
          python --version
          tox -e coq-py36

  py-tests:
    name: Python unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        py_version: [3.6]
    steps:
      - uses: actions/checkout@v2
      - name: Install Python ${{ matrix.py_version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.py_version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Run Python tests
        if: matrix.py_version == '3.6'
        run: |
          python --version
          tox -e unit-py36

  vim-tests:
    name: Vim unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['7.4', '8.0', '8.1', '8.2']
    steps:
      - uses: actions/checkout@v2
      - name: Install Nix
        uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-20.09
      - name: Install Cachix
        uses: cachix/cachix-action@v10
        with:
          name: whonore-vim
          skipPush: true
      - name: Install Vim ${{ matrix.version }}
        run: nix-env -j auto --cores 0 -i -f ci/vim.nix --argstr version ${{ matrix.version }}
      - name: Install Vader
        uses: actions/checkout@v2
        with:
          repository: junegunn/vader.vim
          path: ./vader.vim
      - name: Run Vim tests
        env:
          VADER_PATH: $GITHUB_WORKSPACE/vader.vim
        working-directory: ./tests/vim
        run: ./run.sh
